<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เวลาปัจจุบัน</title>
</head>
<body>
    <h1>Configg</h1>
    <p id="demo"></p>
    <script>
        const date = new Date()
        const datetime = date.toLocaleString()
        document.getElementById("demo").innerHTML = datetime;
    </script>
    <p style="color:blue">Homepage</p>
    <p><a href="/" target="_self" ="noopener noreferrer">Back</a></p>

</body>
</html>